# Run at everyhours
0 * * * * /app/crawler >> /app/crawler.log 2>&1; curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/bae3c226-a662-4017-9b1f-cb5b9992a77b
# 0 0 * * * /app/document >> /app/document.log 2>&1