services:
  app:
    build:
      dockerfile: ./docker/Dockerfile
      context: .
    volumes:
       - /var/log/crawler.log:/app/crawler.log
       - /var/log/document.log:/app/document.log
       - ./.env:/app/.env
    container_name: crawler-app
    dns:
      - 8.8.8.8
    env_file:
      - .env